{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Kategorie'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'Kategorie'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'ID'|trans, 'category.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Utorzone'|trans, 'category.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Aktualizacja'|trans, 'category.updatedAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Tytuł'|trans, 'category.title') }}</th>
                <th>{{ ''|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for category in pagination.items %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.createdAt|format_date('long') }}</td>
                    <td>{{ category.updatedAt|format_date('long') }}</td>
                    <td>{{ category.title }}</td>

                    <td>
                            <a class="btn btn-outline-primary" href="{{ url('category_show', {id: category.id}) }}" title="{{ 'action.show'|trans }}">
                                {{ 'Pokaż'|trans }}
                            </a>
                            <a class="btn btn-outline-success" href="{{ url('category_edit', {id: category.id}) }}" title="{{ 'action.edit'|trans }}">
                                {{ 'Edytuj'|trans }}
                            </a>
                            <a class="btn btn-outline-danger" href="{{ url('category_delete', {id: category.id}) }}" title="{{ 'action.delete'|trans }}">
                                {{ 'Usuń'|trans }}
                            </a>
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-outline-success"  href="{{ url('category_create')}}" title="{{ 'action.create'|trans }}">
            {{ 'Nowa kategoria'|trans }}
        </a>
        <a class="btn btn-outline-primary" href="{{ url('bug_index')}}" title="{{ 'action.create'|trans }}">
            {{ 'Bugi'|trans }}
        </a>
        <a class="btn btn-outline-primary" href="{{ url('user_index')}}" title="{{ 'action.create'|trans }}">
            {{ 'Użytkownicy'|trans }}
        </a>
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'Brak rekordów'|trans }}
        </p>
    {% endif %}
{% endblock %}