{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.category.show'|trans({'%id%': category.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'category'|trans({'%id%': category.id|default('')}) }}</h1>
    {% if category is defined and category|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'id'|trans }}</dt>
            <dd>{{ category.id }}</dd>
            <dt>{{ 'createdAt'|trans }}</dt>
            <dd>{{ category.createdAt|format_date('long') }}</dd>
            <dt>{{ 'updatedAt'|trans }}</dt>
            <dd>{{ category.updatedAt|format_date('long') }}</dd>
            <dt>{{ 'title'|trans }}</dt>
            <dd>{{  category.title }}</dd>
        </dl>
        <p>
            <a href="{{ url('category_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'back'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'empty.list'|trans }}
        </p>
    {% endif %}
{% endblock %}