{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Administration'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'Administration'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>User ID</th>
                <th>User Email</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for user in pagination.items %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>

                    <td>
                        <a class="btn btn-outline-success" href="{{ url('user_edit', {id: user.id}) }}" title="{{ 'action.edit'|trans }}">
                            {{ 'Edit password'|trans }}
                        </a>
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
        {% if is_granted('ROLE_ADMIN') %}
{#            <a class="btn btn-outline-success" href="{{ url('user_create')}}" title="{{ 'action.create'|trans }}">#}
{#                {{ 'action.create'|trans }}#}
{#            </a>#}
            <a class="btn btn-outline-primary" href="{{ url('category_index')}}" title="{{ 'action.create'|trans }}">
                {{ 'Categories'|trans }}
            </a>
            <a class="btn btn-outline-primary" href="{{ url('bug_index')}}" title="{{ 'action.create'|trans }}">
                {{ 'Bugs'|trans }}
            </a>
        {% endif %}
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}


{% endblock %}